langchain
ctransformers
sentence-transformers
faiss-cpu
langchain_community
tf_keras
langchain-huggingface
transformers
datasets
evaluate
accelerate
torch
tensorflow
soundfile
librosa
diffusers
matplotlib